{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
    <details>
        <summary
                class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
                aria-haspopup="dialog"
                aria-label="{{ 'general.search.search' | t }}"
        >
      <span>
        <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search">
        </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
        </summary>
        <div
                class="search-modal modal__content gradient"
                role="dialog"
                aria-modal="true"
                aria-label="{{ 'general.search.search' | t }}"
        >
            <div class="modal-overlay"></div>
            <div
                    class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
                    tabindex="-1"
            >
                <div id="Search" class="Search" aria-hidden="false">
                    <div class="Search__Inner page-width">
                        <div class="Search__SearchBar">
                            <form action="{{ routes.search_url }}" name="GET" role="search" class="Search__Form">
                                <div class="Search__InputIconWrapper">
                        <span class="hidden-tablet-and-up">
                          <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
                            <use href="#icon-search">
                          </svg>
                        </span>

                                </div>

                                <input type="search" class="Search__Input Heading" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="חיפוש..." autofocus>
                                <input type="hidden" name="type" value="product">
                            </form>

                            <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                                <svg class="icon icon-close" aria-hidden="true" focusable="false">
                                    <use href="#icon-close">
                                </svg>
                            </button>
                        </div>

                        <div class="Search__Results" aria-hidden="true">
                            {%- if settings.search_mode != 'product' -%}
                                <div class="PageLayout PageLayout--breakLap">
                                    <div class="PageLayout__Section"></div>
                                    <div class="PageLayout__Section PageLayout__Section--secondary"></div>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>
</details-modal>
