<div class="article__content">
  <div class="article_form_wrapper">
	{%- render 'article-newsletter-form' -%}
  </div>
</div>
{% schema %}
  {
    "name": "Article Newsletter Form",
	"class": "article-template__content",
    "settings": []
  }
{% endschema %}
