<div class="article__content">
  {%- render 'article-products' -%}
</div>

{% schema %}
  {
    "name": "Article Products",	
	"class": "article-template__content",
    "settings": []
  }
{% endschema %}

