<div class="article__content">
  {%- render 'athletes-blog-topbar-product' -%}
</div>

{% schema %}
  {
    "name": "Blog Topbar Product",	
	"class": "article-template__content",
    "settings": []
  }
{% endschema %}

