.facet-checkbox {
    padding: 1rem 2rem 1rem 0;
    flex-grow: 1;
    position: relative;
    font-size: 1.4rem;
    display: flex;
    word-break: break-word;
}

.facets__item label, .facets__item input[type=checkbox] {
    cursor: pointer;
}

.facet-checkbox input[type=checkbox] {
    position: absolute;
    opacity: 1;
    width: 1.6rem;
    height: 1.6rem;
    top: 0.7rem;
    left: -0.4rem;
    z-index: -1;
    appearance: none;
    -webkit-appearance: none;
}

.facet-checkbox>svg {
    background-color: rgb(var(--color-background));
    margin-right: 1.2rem;
    flex-shrink: 0;
}

.facet-checkbox .icon-checkmark {
    visibility: hidden;
    position: absolute;
    left: 0.3rem;
    z-index: 5;
    top: 1.4rem;
}

.facet-checkbox>input[type=checkbox]:checked~.icon-checkmark {
    visibility: visible;
}

.active-facets facet-remove:only-child {
    display: none;
}